*{
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* ==========fim reset======= */

.menu{
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 550px;
    background-color: #555;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #fff;
}


.logotipo{
    margin-left: 100px;
}

.menu__container-flex{
    display: flex;
    padding: 0.26rem;
    justify-content: end;
    gap: 20px;
}

.inicio__container-flex{
    display: flex;
    margin: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.inicio__image-1{
    width: 500px;
    max-width: auto;
    height: auto;
    text-align: center;
}



.inicio__image-2{
    width: 700px;
    max-width: auto;
    height: auto;
}

.inicio__foto__sidebar-left{
    text-align: center;
}

.inicio__foto__sidebar-right{
    text-align: center;
}

.menu__link,
.menu__link-a{
    font-size: 1.3rem;
    color: #fff;
    list-style: none;
}

.menu__link-a:hover{
    color: rgb(209, 10, 10);
}

/* ============timeline  start========= */

.wrapper{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}


.timeline{
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    width: 100%;
}

.timeline li {
    margin-bottom: 50px;
    position: relative;
    display: flex;
}

.timeline .panel{
    width: 46%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: #f5f5f5;
    box-shadow: 3px 3px 12px #dee1e4, -3px -3px 12px #fff;
}

.timeline p {
    padding: 0 20px 10px 20px;
}

.timeline summary {
    display: block;
    user-select: none;
    cursor: pointer;
    outline: none;
    padding: 20px;
    margin-bottom: 0;
    transition: all 600ms cubic-bezier(0.2, 1, 0.3, 1);
    font-weight: 600;
}

.timeline .panel[open] summary {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.timeline summary:hover{
    background: #f8f8f8;
}

.timeline:before{
    top: 0;
    bottom: 0;
    left: 50%;
    position: absolute;
    content: "";
    background-color: #f5f5f5;
    box-shadow: 1px 1px 5px #dee1e4, -1px -1px 5px #fff;
}

.timeline li:before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 50%;
    background: #f8f8f8;
    margin-left: -11px;
    z-index: 99;
    box-shadow: 2px 2px 5px #dee1e4, -2px -2px 5px #fff;
}

.timeline li:nth-child(even){
    justify-content: flex-end;
}